* {
  margin: 0;
  padding: 0;
  font-family: 'Verdana Pro' !important;
}
body {
  background-color: white;
}
.full-content{
  max-width: 1440px;
}
.mx{
  margin-left: 12px;
}
.full-text {
  padding-top:8%;
}
h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: 0;
  color:#54585A;
}
p {
  font-weight: 500;
  font-size: 16px;
  color:#262626;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 16px;
}
.image {
  background-image: url("./photo/7d20fba1-9c9e-4da8-9d8d-70e9d9066574.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
.borderless {
  background: none;
	color: inherit;
	border: none;
	outline: inherit;
  min-width: 150px;
cursor:pointer;
font-size:16px;
margin-left: -24px;
font-weight: 600;
padding:10px 20px;

} 
.borderless-main{
  padding-left: 12px;
}
.borderless a{
text-decoration: none;
color:#55799B;
}
.borderless:hover {
text-decoration: underline;
}
.borderless a:after {
  font-family: FontAwesome;
  content: "\f054";
  font-size: 1em;
  color:#55799B;
  padding-left:5px
}
.borderless a:after:hover {
  color:#446688;
  text-decoration: underline;

}

  /* media*/
  @media(max-width: 769px){
    .full-text {
      text-align: center;
      margin: 0 auto;
      padding-top: 19%;
      }
      .text-left {
        padding-left: 12px;
        padding-right: 12px;
      }
  }
  @media(max-width: 426px){
    .full-text {
      padding-top:25%;
     
    }
  }